body{
    background:#8b7a32;
    margin:0;
    padding:0;

}

.box{
    background:#092700;
    widows: 4030px;;
    height:1200px;
    position: absolute;
    animation-iteration-count: infinite;
    /* animation-name: myAnimation; */
    animation-duration: 4s;
    margin:auto;
    align-content: center;
}

.other{
    width:340px !important;
    height:120px !important;
    bottom:400px;
    position: absolute;
    background-color:green !important;
    animation-iteration-count: infinite !important;
    animation-name: wordFloat !important;
    animation-duration: 8s !important;
    animation-delay:2s;
    
}

.big{
    width:1920px;
    height:1080px;
    margin:auto;
    padding:auto;
    animation-name:shrink;
    animation-duration:3s;
    animation-iteration-count:infinite;
}

@keyframes shrink{
    from{
        
    }
    to{
    }
}

.reverse{
    padding:1px;
    position: absolute;
    width:100px !important;
    top:400px !important;
    left:400px !important;
    background-color:red;
    animation-direction: default;
    animation-name:addPadding !important;
    animation-iteration-count: infinite;
    animation-duration: 1.2s !important;
}

.reverse1point5{
    padding:1px;
    position: absolute;
    width:100px !important;
    top:400px !important;
    left:400px !important;
    background-color:#09270041 ;
    animation-direction: default;
    animation-name:addPadding2 !important;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    
}

.reverse2{
    padding:1px;
    position: absolute;
    width:100px !important;
    background-color:#092700	 !important ;
    animation-direction: default;
    animation-name:addPadding !important;
    animation-iteration-count: infinite;
    animation-duration: 1s !important;
}

@keyframes addPadding{
    from{
        padding:0px;
        margin:0px;
        width:0px;
        height:0px;
        background-color:#8b7a32;
    }
    to{
        width:400px;
        height:400px;
    }
}

@keyframes addPadding2{
    0%{
        padding:0px;
        margin:0px;
        width:400px;
        height:400px;
    }

    50%{
        width:200px;
        height:100px;
        background-color: #092700;
    }

    100%{
        width:0px;
        height:0px;
    }
}

.movingbox{
    width:200px;
    height:200px;
    background-color: olive;
    position: absolute;
    animation-name: boxAnimation;
    animation-duration:4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 5;
}

.otherbox2{
    width: 300px !important;
    height:300px  !important;
    background-color:#1d4504
    !important;
    animation-name:boxAnimation !important;
    animation-direction: reverse;

    bottom:20px;
    z-index: -3 !important;
}

.otherbox3{
    width: 400px !important;
    height:400px  !important;
    background-color:#566727 !important;
    animation-name:boxAnimation !important;
    bottom:20px;
    z-index: -4 !important;
}



.otherbox{
    width:100px !important;
    height:100px  !important;
    background-color:#566727 !important;
    animation-name:boxAnimation !important;
    bottom:20px;
    z-index:6 !important;
}
@keyframes boxAnimation{

    0%{
        left:0px;
        top:0px;
        scale: 
    }

    25%{
        left:400px;
        top:0px;

    }

    50%{
        left:400px;
        top:400px;

    }

    75%{
        left:0px;
        top:400px;

    }

    100%{
        left:0px;
        top:0px;
    }

}



.bot{
    width:100px !important;
    height:120px !important;
    bottom:30px;
    position: absolute;
    background-color:blue !important;
    animation-iteration-count: infinite !important;
    animation-name: wordFloat !important;
    animation-duration: 2s !important;

}

.words{
    width:200px;
    height:120px;
    position: absolute;
    background-color:red;
    animation-iteration-count: infinite;
    animation-name: wordFloat;
    animation-duration: 4s;
    animation-direction : alternate-reverse;
}

@keyframes wordFloat{
    0%{
        left:20px;
        margin:50px;
    }

    25%{
        left:90px;
        margin:100px;

    }

    50%{
        left:300px;
        margin:200px;

    }

    75%{
        left:700px;
        margin:500px;

    }

    100%{
        left:2000px;
    }
}

@keyframes myAnimation{
    0% { 
        background-color:#fff;
    } 


    10%{
        width:9000px;
        height:8050px;
        background-color: #555;

    }

    20%{
        widows: 600px;
        height:40px;
        background-color: #aac;

    }

    30%{
        background-color: #555;
        width:9000px;
        height:8050px;

    }

    40% {
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    50%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    60%{
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    70%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    80%{
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    90%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    100% {
        background-color:white;
        widows: 600px;
        height:40px;

    }
}