body{
    background:#333;
}

.box{
    background:white;
    width:1200px;
    height:1200px;
    position: absolute;
    animation-iteration-count: infinite;
    /* animation-name: myAnimation; */
    animation-duration: 4s;


}
.other{
    width:340px !important;
    height:120px !important;
    bottom:400px;
    position: absolute;
    background-color:green !important;
    animation-iteration-count: infinite !important;
    animation-name: wordFloat !important;
    animation-duration: 8s !important;

}

.bot{
    width:100px !important;
    height:120px !important;
    bottom:30px;
    position: absolute;
    background-color:blue !important;
    animation-iteration-count: infinite !important;
    animation-name: wordFloat !important;
    animation-duration: 2s !important;

}

.words{
    width:200px;
    height:120px;
    position: absolute;
    background-color:red;
    animation-iteration-count: infinite;
    animation-name: wordFloat;
    animation-duration: 4s;
}

@keyframes wordFloat{
    0%{
        left:20px;
        margin:50px;
    }

    25%{
        left:90px;
        margin:100px;

    }

    50%{
        left:300px;
        margin:200px;

    }

    75%{
        left:700px;
        margin:500px;

    }

    100%{
        left:2000px;
    }
}

@keyframes myAnimation{
    0% { 
        background-color:white;
    } 


    10%{
        width:9000px;
        height:8050px;
        background-color: #555;

    }

    20%{
        widows: 600px;
        height:40px;
        background-color: #aac;

    }

    30%{
        background-color: #555;
        width:9000px;
        height:8050px;

    }

    40% {
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    50%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    60%{
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    70%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    80%{
        background-color:#aac;
        widows: 600px;
        height:40px;

    }

    90%{
        background-color:#555;
        width:9000px;
        height:8050px;

    }

    100% {
        background-color:white;
        widows: 600px;
        height:40px;

    }
}